/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #6a737d;
$dark-gray                  : #24292e;
$darker-gray                : mix(#000, $gray, 50%);
$light-gray                 : #6a737d;
$lighter-gray               : #f6f8fa;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #6a737d;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 56px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #{$dark-gray};
    --global-border-color               : #eaecef;
    --global-dark-border-color          : #d1d5da;
    --global-code-background-color      : #f6f8fa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #0366d6;
    --global-link-color-hover           : mix(#000, #0366d6, 15%);
    --global-link-color-visited         : mix(#fff, #0366d6, 15%);
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #0366d6;
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}