{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Embed each publication inside a list  so it appears with  bullet -->
    <!-- Allows up to 5 PDF files and up to 3 external links, each with its customized description-->
     <ul>
    <li>
     {% if  post.coauthors %} 
          {% if post.paper_pdf %}
            <p><a href="{{ base_path }}{{ post.paper_pdf }}" rel="permalink">{{ title }}</a>, with {{ post.coauthors }}.</p>
          {% else %}
          <p>{{ title }}, with {{ post.coauthors }}.</p>
          {% endif %}
     {% else %}
          {% if post.paper_pdf %}
            <p><a href="{{ base_path }}{{ post.paper_pdf }}" rel="permalink">{{ title }}</a>.</p>
          {% else %}
          <p>{{ title }}.</p>
          {% endif %}
     {% endif %}          

     {% if post.venue and post.pages %}
      <p> <em>{{ post.venue }}</em>, {{ post.pages }}.</p>
     {% else %}
        {% if post.venue %}
          <p> <em>{{ post.venue }}</em>.</p>
        {% endif %}
     {% endif %}

     {% if post.pdf5 %}
        <p><a href="{{ base_path }}{{ post.pdf1 }}" rel="permalink">{{ post.pdf1_des }}</a> | 
           <a href="{{ base_path }}{{ post.pdf2 }}" rel="permalink">{{ post.pdf2_des }}</a> | 
           <a href="{{ base_path }}{{ post.pdf3 }}" rel="permalink">{{ post.pdf3_des }}</a> | 
           <a href="{{ base_path }}{{ post.pdf4 }}" rel="permalink">{{ post.pdf4_des }}</a> |  
           <a href="{{ base_path }}{{ post.pdf5 }}" rel="permalink">{{ post.pdf5_des }}</a>
      {% if post.url3 %}
           | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
             <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a> |
             <a href="{{ post.url3 }}" rel="permalink">{{ post.url3_des }}</a>
      {% else %}
          {% if post.url2 %}
           | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
             <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a>
          {% else %}
                {% if post.url1 %}
                  | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a>
                {% endif %}
          {% endif %}          
      {% endif %}
       </p>
     {% else %}
          {% if post.pdf4 %}
              <p><a href="{{ base_path }}{{ post.pdf1 }}" rel="permalink">{{ post.pdf1_des }}</a> | 
                <a href="{{ base_path }}{{ post.pdf2 }}" rel="permalink">{{ post.pdf2_des }}</a> | 
                <a href="{{ base_path }}{{ post.pdf3 }}" rel="permalink">{{ post.pdf3_des }}</a> | 
                <a href="{{ base_path }}{{ post.pdf4 }}" rel="permalink">{{ post.pdf4_des }}</a>   
            {% if post.url3 %}
                | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                  <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a> |
                  <a href="{{ post.url3 }}" rel="permalink">{{ post.url3_des }}</a>
            {% else %}
                {% if post.url2 %}
                | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                  <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a>
                {% else %}
                      {% if post.url1 %}
                        | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a>
                      {% endif %}
                {% endif %}          
            {% endif %}
        </p>
            {% else %}
                  {% if post.pdf3 %}
                      <p><a href="{{ base_path }}{{ post.pdf1 }}" rel="permalink">{{ post.pdf1_des }}</a> | 
                        <a href="{{ base_path }}{{ post.pdf2 }}" rel="permalink">{{ post.pdf2_des }}</a> | 
                        <a href="{{ base_path }}{{ post.pdf3 }}" rel="permalink">{{ post.pdf3_des }}</a> 
                    {% if post.url3 %}
                        | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                          <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a> |
                          <a href="{{ post.url3 }}" rel="permalink">{{ post.url3_des }}</a>
                    {% else %}
                        {% if post.url2 %}
                        | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                          <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a>
                        {% else %}
                              {% if post.url1 %}
                                | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a>
                              {% endif %}
                        {% endif %}          
                    {% endif %}
                    </p>
                  {% else %}
                        {% if post.pdf2 %}
                            <p><a href="{{ base_path }}{{ post.pdf1 }}" rel="permalink">{{ post.pdf1_des }}</a> | 
                              <a href="{{ base_path }}{{ post.pdf2 }}" rel="permalink">{{ post.pdf2_des }}</a> | 
                              <a href="{{ base_path }}{{ post.pdf3 }}" rel="permalink">{{ post.pdf3_des }}</a> 
                          {% if post.url3 %}
                              | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                                <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a> |
                                <a href="{{ post.url3 }}" rel="permalink">{{ post.url3_des }}</a>
                          {% else %}
                              {% if post.url2 %}
                              | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                                <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a>
                              {% else %}
                                    {% if post.url1 %}
                                      | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a>
                                    {% endif %}
                              {% endif %}          
                          {% endif %}
                          </p>
                        {% else %}
                                {% if post.pdf1 %}
                                    <p><a href="{{ base_path }}{{ post.pdf1 }}" rel="permalink">{{ post.pdf1_des }}</a> 
                                  {% if post.url3 %}
                                      | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                                        <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a> |
                                        <a href="{{ post.url3 }}" rel="permalink">{{ post.url3_des }}</a>
                                  {% else %}
                                      {% if post.url2 %}
                                      | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a> |
                                        <a href="{{ post.url2 }}" rel="permalink">{{ post.url2_des }}</a>
                                      {% else %}
                                            {% if post.url1 %}
                                              | <a href="{{ post.url1 }}" rel="permalink">{{ post.url1_des }}</a>
                                            {% endif %}
                                      {% endif %}          
                                  {% endif %}
                          </p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
     </li> 
     </ul>

      <!-- Embed each publication inside a header
   
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
      -->
          
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

  </article>
</div>
